version: "3.9"

services:
  api:
    build:
      context: ./apps/api
    environment:
      - API_PORT=${API_PORT:-4000}
    ports:
      - "${API_PORT:-4000}:4000"

  web:
    build:
      context: ./apps/web
    environment:
      - WEB_PORT=${WEB_PORT:-3000}
    ports:
      - "${WEB_PORT:-3000}:3000"
    depends_on:
      - api
